* {
	font-family: 'Roboto', sans-serif;
	color: #000;
}

body {
	background-color: #fff;
	margin: 1vh 2vw;
	height: 100vh;
}

#wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#top-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.top-bar-link {
	text-decoration: none;
	color: hsl(0deg, 0%, 30%);
	margin-right: 2vw;
	font-size: 0.9em;
	font-weight: 200;
	flex-shrink: 1;
}

.top-bar-link:hover {
	text-decoration: underline;
}

#profile-image {
	border-radius: 50%;
	max-width: 100%;
	height: auto;
	flex-shrink: 1;
}

#mid-container {
	display: flex;
	flex-direction: column;
	flex: 100%;
	margin-top: 25vh;
}

#google-logo {
	font-size: 5em;
	flex-shrink: 1;
	align-self: center;
}

.blue {
	color: rgb(18, 128, 192);
}

.red {
	color: rgb(221, 67, 67);
}

.green {
	color: rgb(32, 184, 12);
}

.yellow {
	color: rgb(240, 225, 96);
}

#search-box-container {
	display: flex;
	align-self: center;
	margin-top: 2vh;
	width: 50%;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 3px;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3), 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 40px;
}

#search-icon {
	font-weight: 600;
	font-size: 1.3em;
	color: hsl(0deg, 0%, 20%);
	opacity: 0.5;
	padding-left: 3%;
}

#search-box {
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 20px;
	width: 100%;
	font-size: 1.3em;
	padding: 5px 5px 5px 15px;
}

#search-box:focus {
	outline: none;
}

#search-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 2vh;
}

.search-button {
	background-color: transparent;
	border: none;
	font-weight: 200;
	font-size: 1.1em;
	color: hsl(0deg, 0%, 20%);
	padding: 10px 20px;
}

.search-button:hover {
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0 1px 1px rgba(50, 50, 50, 0.3);
}

#bottom-bar {
	display: flex;
	flex-direction: row;
	/* box-shadow: 0 -1px 3px 1px rgba(100, 100, 100, 0.6); */
	border-top: 2px solid rgba(100, 100, 100, 0.4);
	padding: 2vh 5vw;
	justify-content: space-between;
	align-items: center;
}

#left-bottom-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.bottom-bar-link {
	text-decoration: none;
	color: hsl(0deg, 0%, 30%);
	margin-right: 2vw;
	font-size: 0.9em;
	font-weight: 200;
	flex-shrink: 1;
}

#right-bottom-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 500px) {
	#google-logo {
		font-size: 4em;
	}
}